<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addAccountController</servlet-name>
        <servlet-class>Controller.Account.addAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccountController</servlet-name>
        <servlet-class>Controller.Account.deleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerAccountController</servlet-name>
        <servlet-class>Controller.Account.managerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAccountController</servlet-name>
        <servlet-class>Controller.Account.updateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartController</servlet-name>
        <servlet-class>Controller.Cart.cartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOutController</servlet-name>
        <servlet-class>Controller.Cart.checkOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartController</servlet-name>
        <servlet-class>Controller.Cart.deleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCartController</servlet-name>
        <servlet-class>Controller.Cart.showCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartController</servlet-name>
        <servlet-class>Controller.Cart.updateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryController</servlet-name>
        <servlet-class>Controller.Category.categoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactUsController</servlet-name>
        <servlet-class>Controller.Contact.contactUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteContactController</servlet-name>
        <servlet-class>Controller.Contact.deleteContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerContactController</servlet-name>
        <servlet-class>Controller.Contact.managerContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerContactDetails</servlet-name>
        <servlet-class>Controller.Contact.managerContactDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerOrderController</servlet-name>
        <servlet-class>Controller.Order.managerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerOrderDetailsController</servlet-name>
        <servlet-class>Controller.Order.managerOrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutUsController</servlet-name>
        <servlet-class>Controller.Page.aboutUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>Controller.Page.changePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homePageController</servlet-name>
        <servlet-class>Controller.Page.homePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.Page.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopController</servlet-name>
        <servlet-class>Controller.Page.shopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpController</servlet-name>
        <servlet-class>Controller.Page.signUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductController</servlet-name>
        <servlet-class>Controller.Product.addProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductController</servlet-name>
        <servlet-class>Controller.Product.deleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerController</servlet-name>
        <servlet-class>Controller.Product.managerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>Controller.Product.productController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchProductController</servlet-name>
        <servlet-class>Controller.Product.searchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductController</servlet-name>
        <servlet-class>Controller.Product.updateProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAccountController</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccountController</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerAccountController</servlet-name>
        <url-pattern>/managerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAccountController</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartController</servlet-name>
        <url-pattern>/cartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOutController</servlet-name>
        <url-pattern>/checkOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartController</servlet-name>
        <url-pattern>/deleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCartController</servlet-name>
        <url-pattern>/showCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartController</servlet-name>
        <url-pattern>/updateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryController</servlet-name>
        <url-pattern>/categoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactUsController</servlet-name>
        <url-pattern>/contactusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteContactController</servlet-name>
        <url-pattern>/deleteContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerContactController</servlet-name>
        <url-pattern>/managerContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerContactDetails</servlet-name>
        <url-pattern>/contactDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerOrderController</servlet-name>
        <url-pattern>/managerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerOrderDetailsController</servlet-name>
        <url-pattern>/cartDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutUsController</servlet-name>
        <url-pattern>/aboutusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homePageController</servlet-name>
        <url-pattern>/homePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopController</servlet-name>
        <url-pattern>/shopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpController</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductController</servlet-name>
        <url-pattern>/addProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductController</servlet-name>
        <url-pattern>/deleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerController</servlet-name>
        <url-pattern>/managerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/productController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchProductController</servlet-name>
        <url-pattern>/searchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductController</servlet-name>
        <url-pattern>/updateProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
