<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addAccountController</servlet-name>
        <servlet-class>Controller.Account.addAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccountController</servlet-name>
        <servlet-class>Controller.Account.deleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerAccountController</servlet-name>
        <servlet-class>Controller.Account.managerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAccountController</servlet-name>
        <servlet-class>Controller.Account.updateAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAccountController</servlet-name>
        <url-pattern>/addAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccountController</servlet-name>
        <url-pattern>/deleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerAccountController</servlet-name>
        <url-pattern>/managerAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAccountController</servlet-name>
        <url-pattern>/updateAccountController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
