<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addAccountController</servlet-name>
        <servlet-class>Controller.Account.addAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccountController</servlet-name>
        <servlet-class>Controller.Account.deleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerAccountController</servlet-name>
        <servlet-class>Controller.Account.managerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAccountController</servlet-name>
        <servlet-class>Controller.Account.updateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartController</servlet-name>
        <servlet-class>Controller.Cart.cartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOutController</servlet-name>
        <servlet-class>Controller.Cart.checkOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartController</servlet-name>
        <servlet-class>Controller.Cart.deleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCartController</servlet-name>
        <servlet-class>Controller.Cart.showCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartController</servlet-name>
        <servlet-class>Controller.Cart.updateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryController</servlet-name>
        <servlet-class>Controller.Category.categoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactUsController</servlet-name>
        <servlet-class>Controller.Contact.contactUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteContactController</servlet-name>
        <servlet-class>Controller.Contact.deleteContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerContactController</servlet-name>
        <servlet-class>Controller.Contact.managerContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerContactDetails</servlet-name>
        <servlet-class>Controller.Contact.managerContactDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAccountController</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccountController</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerAccountController</servlet-name>
        <url-pattern>/managerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAccountController</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartController</servlet-name>
        <url-pattern>/cartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOutController</servlet-name>
        <url-pattern>/checkOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartController</servlet-name>
        <url-pattern>/deleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCartController</servlet-name>
        <url-pattern>/showCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartController</servlet-name>
        <url-pattern>/updateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryController</servlet-name>
        <url-pattern>/categoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactUsController</servlet-name>
        <url-pattern>/contactusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteContactController</servlet-name>
        <url-pattern>/deleteContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerContactController</servlet-name>
        <url-pattern>/managerContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerContactDetails</servlet-name>
        <url-pattern>/contactDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
